$main-green-color: #3f9c14;
$second-text-color: #afafaf;
$main-text-color: #eaeaea;
$main-bg-color: #181818;
$error-color: #df1332;
$border-color: #454545;
$heder-color: #1d1d1d;
$input-bg-color: #1c1c1c;
$card-bg-hover-color: #242424;
$disabled-bg: #3f9c145f;